@use '../common' as *;

$max-width: toRem(1250);
$padding: toRem(20);

.container {
  max-width: $max-width;
  width: 100%;
  height: 100%;
  padding-left: $padding;
  padding-right: $padding;
  margin: 0 auto;
  box-sizing: border-box;
}